<h1>Listing point_marks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @point_marks.each do |point_mark| %>
  <tr>
    <td><%= point_mark.name %></td>
    <td><%= link_to 'Show', point_mark %></td>
    <td><%= link_to 'Edit', edit_point_mark_path(point_mark) %></td>
    <td><%= link_to 'Destroy', point_mark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Point mark', new_point_mark_path %>
