<h1>Listing geometry_marks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Radius</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @geometry_marks.each do |geometry_mark| %>
  <tr>
    <td><%= geometry_mark.name %></td>
    <td><%= geometry_mark.radius %></td>
    <td><%= link_to 'Show', geometry_mark %></td>
    <td><%= link_to 'Edit', edit_geometry_mark_path(geometry_mark) %></td>
    <td><%= link_to 'Destroy', geometry_mark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Geometry mark', new_geometry_mark_path %>
